
body {
    background-image: url("/img/header-bg.jpeg");

}

.logo {
    margin-bottom: 128px;
    margin-left: 150px;
    margin-top: 46px;
}

.zvonok {
    color: #E4B564;
    border: #E4B564 solid;
    position: absolute;
    right: 150px;
    top: 46px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

h1 {
    font-size: 50px;
    color: white;
    margin-left: 150px;
}

p {
    margin-bottom: 41px;
    margin-top: 41px;
    font-size: 20px;
    color: white;
    margin-right: 150px;
    margin-left: 150px;
}

.grid-conteiner {
    display: grid;
    width: 100vw;
    height: 50vh;
    grid-gap: 10px;
    margin-bottom: 161px;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";

}

.item {
    font-size: 20px;

    text-align: center;


}

.item1 {
    grid-area: item1;
    background: #634F2C;
    color: white;

    margin-left: 150px;
}

.item2 {
    background: #634F2C;
    color: white;
    grid-area: item2;
}

.item3 {
    background: #E4B564;
    color: white;
    grid-area: item3;
    margin-right: 150px;

}

.item4 {
    background: #635A4A;
    color: white;
    grid-area: item4;
    margin-left: 150px;
}

.item5 {
    background: #B08C4D;
    color: white;
    grid-area: item5;
    margin-right: 150px;
}


.machinery {
    display: grid;
    width: 100vw;
    height: 50vh;
    grid-gap: 10px;
    margin-top: 94px;
    margin-bottom: 191px;
    grid-template-rows:repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "item6 item6 item7 item7 item8 item8"
    "item6 item6 item7 item7 item10 item10"
    "item9 item9 item7 item7 item10 item10"
    "item9 item9 item11 item11 item10 item10"
    "item9 item9 item11 item11 item12 item12";
}

.item6 {
    grid-area: item6;
    background: #242424;
    color: white;
    margin-left: 150px;

}

.item7 {
    background: #634F2C;
    color: white;
    grid-area: item7;
}

.item8 {
    background: #1F1F1F;
    color: white;
    grid-area: item8;
    margin-right: 150px;
}

.item9 {
    background: #1F1F1F;
    color: white;
    grid-area: item9;
    margin-left: 150px;
}

.item10 {
    background: #E4B564;
    color: #000000;
    grid-area: item10;
    margin-right: 150px;

}

.item11 {
    background: #0E0E0E;
    color: white;
    grid-area: item11;
}

.item12 {
    background: #0A0909;
    color: white;
    grid-area: item12;
    margin-right: 150px;

}

.section-clients {
    padding-top: 172px;
    background: black;
    background-image: url("/img/parallax-bg.jpeg");
}

.clients {
    display: grid;
    width: 100vw;
    height: 50vh;
    margin-top: 72px;
    grid-template-column: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "item13 item14 item15"
    "item16 item17 item18";

}

.item13 {
    grid-area: item13;
    background: #634F2C;
    color: white;
    margin-left: 150px;

}

.item14 {
    background: #E8D2ABC2;
    color: white;
    grid-area: item14;
}

.item15 {
    background: #E4B564;
    color: white;
    grid-area: item15;
    margin-right: 150px;
}

.item16 {
    background: #635A4A;
    color: white;
    grid-area: item16;
    margin-left: 150px;
}

.item17 {
    background: #B08C4D;
    color: #000000;
    grid-area: item17;
}

.item18 {
    background: #634F2C;
    color: #000000;
    grid-area: item18;
    margin-right: 150px;
}
